.blue-text {
  color: #3974c8 !important;
}


footer > p, .jumbotron, .tambahan{
  background-color: #dbf0ff;
}

.modal-content{
  padding: 15px;
  max-width: 450px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 3%;
}
.button:hover, .button:visited {
  background: #006cba;
  color: #fff;
}
.button {
  line-height: 55px;
  padding: 0 30px;
  background: #004a80;
  color: #fff;
  display: inline-block;
  font-family: roboto;
  text-decoration: none;
  font-size: 18px;
}

input[type=text], input[type=password] {
  border: 1px solid rgba(0,0,0,0.09);
  width: 100%;
  border-radius:5px;
}
input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

button[type="submit"] {
  width: min-content;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.btn-close{
  width:5px;
  height:auto;
}

.min-text{
  text-decoration:none
}


nav > div > div > ul > li > a:hover{
  font-size:18px;
}
li.nav-item:active{
  color:rgb(209, 237, 255)
}

div.content.col-lg.shadow.p-3.m-2.bg-body.rounded{
  width:50%;
}

@media only screen and (min-width: 992px) {
  .versi-lg{
      display:block;
  }
  .versi-sm{
      display:none;
  }
}
@media only screen and (max-width: 992px) {
  .versi-lg{
      display:none;
  }
  .versi-sm{
      display:block;
  }
}

.carousel-item.active{
  display:flex;
  justify-content:center;
}

.carousel-indicators{
  background-color:none;
}
button#slide{
  border:0.1px solid rgb(128, 128, 128);
  height:10px;
  width:10px;
  border-radius:50%;
  background-color:solid white;
}
.versi-sm.carousel-indicators > button.active{
  border:5px solid rgb(128, 128, 128);
  height:15px;
  width:15px;
  background-color:solid rgb(166, 166, 166);
}



img.photo{
  height:150px;
  width:150px;
  border-radius:50%;
  object-fit:cover;
}

#carouselExampleControls > button.carousel-control-prev, #carouselExampleControls > button.carousel-control-next{
  background-color:rgb(46, 129, 184);
  border-radius:50%;
  height:50px;
  width:50px;
  display:flex;
  margin:140px 20px auto;
}

button.btn.btn-primary.btn-md{
  background-color:white;
  color:black;

}
button.btn.btn-primary.btn-md:hover{
  background-color:rgb(209, 237, 255);
  color:black;
}
