/* General CSS */
.blue-color {
  color: #3974c8 !important;
}

.red-color {
  color: #ef494d;
}

/* Navbar CSS */
.navbar .btn {
  min-width: 100px;
  font-weight: 600;
}
.navbar .btn-danger {
  background: #ef494d;
}
.navbar .btn-danger:hover,
.navbar .btn-danger:focus {
  background: #ee3535;
}

/* Modal CSS */
.modal-confirm {
  color: #636363;
  margin: 30px auto;
}

.modal-confirm .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-size: 14px;
}

.modal-confirm .modal-header {
  border-bottom: none;
  position: relative;
  flex-direction: column;
}

.modal-confirm h4 {
  text-align: center;
  font-size: 26px;
  margin: 30px 0 -10px;
}

.modal-confirm .close {
  position: absolute;
  top: -5px;
  right: -2px;
}

.modal-confirm .modal-body {
  color: #999;
}

.modal-confirm .modal-body th,
tr {
  color: #999;
}

.modal-confirm .modal-footer {
  display: flex;
  justify-content: center;
}

.modal-confirm .modal-footer a {
  color: #999;
  display: flex;
  justify-content: center;
}

.modal-confirm .icon-box {
  width: 80px;
  height: 80px;
  margin: 0;
  border-radius: 50%;
  z-index: 9;
  text-align: center;
  border: 3px solid #ef494d;
}
.modal-confirm .icon-box i {
  color: #ef494d;
  font-size: 46px;
  margin-top: 13px;
}
.modal-confirm .btn {
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  min-width: 120px;
  border: none;
  min-height: 40px;
  border-radius: 3px;
  margin: 0 5px;
  outline: none !important;
}

.modal-confirm .btn-info {
  background: #c1c1c1;
}
.modal-confirm .btn-info:hover,
.modal-confirm .btn-info:focus {
  background: #a8a8a8;
}
.modal-confirm .btn-danger {
  background: #ef494d;
}
.modal-confirm .btn-danger:hover,
.modal-confirm .btn-danger:focus {
  background: #f20a0f;
}

.modal-confirm .btn-primary {
  background: #3974c8;
}
.modal-confirm .btn-primary:hover,
.modal-confirm .btn-primary:focus {
  background: #3624ab;
}

/* LandingPage */

footer,
.jumbotron,
.tambahan {
  background-color: #dbf0ff;
}

.jumbotron,
.tambahan,
footer {
  background-color: #dbf0ff;
}
.modal-content {
  padding: 15px;
  max-width: 450px;
  width: 100% !important;
  background-color: #f7f7f7;
  margin: 0 auto;
  border-radius: 3%;
}
.button:hover,
.button:visited {
  background: #006cba;
  color: #fff;
}
.button {
  line-height: 55px;
  padding: 0 30px;
  background: #004a80;
  color: #fff;
  display: inline-block;
  font-family: roboto;
  text-decoration: none;
  font-size: 18px;
}

input[type="text"],
input[type="password"] {
  border: 1px solid rgba(0, 0, 0, 0.09);
  width: 100%;
  border-radius: 5px;
}
input[type="text"]:hover,
input[type="password"]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

button[type="submit"] {
  width: min-content;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.btn-close {
  width: 5px;
  height: auto;
}

.min-text {
  text-decoration: none;
}

li.nav-item:hover,
li.nav-item:active {
  font-weight: 600;
}

div.content.col-lg.shadow.p-3.m-2.bg-body.rounded {
  width: 50%;
}

@media only screen and (min-width: 992px) {
  .versi-lg {
    display: block;
  }
  .versi-sm {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .versi-lg {
    display: none;
  }
  .versi-sm {
    display: block;
  }
}

.carousel-item.active {
  display: flex;
  justify-content: center;
}

button#slide {
  border: 0.1px solid rgb(128, 128, 128);
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: solid white;
}
div.carousel-indicators button#slide.active {
  border: 1px solid rgb(128, 128, 128);
  height: 12px;
  width: 12px;
  background: solid rgb(255, 64, 102);
}

img.photo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
}

#carouselExampleControls > button.carousel-control-prev,
#carouselExampleControls > button.carousel-control-next {
  background-color: rgb(255, 64, 102);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  margin: 140px 20px auto;
}
span.carousel-control-prev-icon,
span.carousel-control-next-icon {
  height: 15px;
  width: 15px;
}

button.btn.btn-primary.btn-md {
  background-color: white;
  color: black;
}
button.btn.btn-primary.btn-md:hover {
  background-color: rgb(209, 237, 255);
  color: black;
}

div.content.col-lg.shadow.p-3.m-2.bg-body.rounded-4 {
  border-radius: 15px;
}

footer > h3 {
  margin-top: -13%;
}

.img-fit {
  width: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 576px) {
  body {
    font-size: 10px;
  }

  h5 {
    font-size: 12px;
  }

  .modal-confirm {
    width: 300px;
  }

  .modal-confirm .btn {
    min-width: 100px;
  }
}
